<ion-header>
  <ion-toolbar>
    <ion-title>contributeModal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="ingredient && users">
    Ajout de "{{ingredient.name}}"
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-select value="brown" ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="contribution.userId">
        <ion-select-option [value]="user.id" *ngFor="let user of users">{{user.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Quantité</ion-label>
      <ion-input type="number" placeholder="manque {{recommendedQty}} {{ingredient.units}}" [(ngModel)]="contribution.unitContribution"></ion-input>
    </ion-item>

  </ng-container>
  <ion-button (click)="cancel()" size="small">Annuler</ion-button>
  <ion-button (click)="contribute()" size="small">Contribuer</ion-button>
</ion-content>
