<app-page title="Actualité">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Sortez les bonnets, la neige est arrivée</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Le temps s'est rafraîchit dans la nuit de samedi à dimanche avec des chutes de neige en dessous de mille mètres.</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Le réseau social utilisé par le tueur tire la prise</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Lancé en 2016 sur le modèle de Twitter, Gab a indiqué mettre un terme à ses activités, après la fusillade à Pittsburgh, samedi.</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Election à haut risque pour Angela Merkel</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Les 4,4 millions d'électeurs de Hesse, votent, dimanche. Ce Land est le siège de Francfort, capitale financière de l'Allemagne.</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Le journaliste Philippe Gildas est décédé</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>L'animateur phare de Canal Philippe Gildas a tiré sa révérence, dans la nuit de samedi à dimanche.</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Un clasico sans Messi et «CR7», ça ressemblait à ça</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Pour la première fois depuis 2007, aucune des deux superstars ne disputera l'affiche Barcelone - Real Madrid dimanche.</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Genève veut vérifier les créances des assureurs</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Le canton de Genève a payé 52,8 millions aux assureurs en 2017 pour des assurés en acte de défaut de biens. Il veut en savoir plus.</p>
        </ion-card-content>
    </ion-card>
</app-page>