<app-page title="Contributions">
    <div>{{name}}</div>
    <ng-container *ngIf="dinerAndContributions">
        <h1>{{dinerAndContributions.diner.name}}</h1>
        <div>{{dinerAndContributions.diner.description}}</div>
        <div>chez {{dinerAndContributions.hostName}}</div>
        <div>Adresse: {{dinerAndContributions.diner.address}}</div>
        <h2>Ingredients:</h2>
        <ul>
            <li *ngFor="let ingredientItem of dinerAndContributions.ingredientItems">
                <div>
                    {{ingredientItem.ingredient.name}} : {{ingredientItem.contributors.length}} pers ({{ingredientItem.contributed}})
                </div>
                <div>
                    {{ingredientItem.contributed}} / {{ingredientItem.required}}
                </div>
                <ion-button (click)="onContribute(ingredientItem.ingredient.id, ingredientItem.required - ingredientItem.contributed)" size="small">Contribute</ion-button>
            </li>
        </ul>
        <h2>Participants</h2>
        <div>Nombre de personnes: {{dinerAndContributions.participationItems.length}}</div>
        <ul>
            <li *ngFor="let participation of dinerAndContributions.participationItems">
                <div>{{participation.participant.name}}</div>
                <div>{{participation.moneyParticipation}} chf / {{dinerAndContributions.pricePerPerson}} chf</div>
                <ul>
                    <li *ngFor="let contribItem of participation.contributions">
                        <div>{{contribItem.ingredient.name}} ({{contribItem.contribution.unitContribution}} {{contribItem.ingredient.units}})</div>
                    </li>
                </ul>
            </li>
        </ul>
        <div>Estimated total price: {{dinerAndContributions.pricePerPerson * dinerAndContributions.participationItems.length}}</div>
        <div>Average price per person: {{dinerAndContributions.pricePerPerson}}</div>
    </ng-container>
    <!--div>
        {{dstring}}
    </div-->
</app-page>